
<section>
    <div class="intro"></div>
    <div class="login-form">
        <h5>Benvingut!</h5>
        <p>Introdueix les teves credencials.</p>
        <div class="input-box" #input_box_1>
            <label>Usuari</label>
            <i class="fa-solid fa-user"></i>
            <input type="text" #input_text (focus)="inputFocus(input_box_1)" (blur)="inputBlur(input_box_1, input_text)"/>
        </div>
        <div class="input-box" #input_box_2>
            <label>Contrassenya</label>
            <i class="fa-solid fa-lock"></i>
            <input type="password" #input_passwd (focus)="inputFocus(input_box_2)" (blur)="inputBlur(input_box_2, input_passwd)"/>
            <i class="fa-solid fa-eye-slash show-password" #btn_passwd (click)="showPassword(input_passwd, btn_passwd)"></i>
        </div>
        <label>No tens usuari? <button>registra't</button></label>
        <button class="primary_btn">Entrar</button>
    </div>
</section>