<div class="graphic-box focus">
    <div class="options">
        <div class="option"><i class="fa-solid fa-gear"></i></div>
        <div class="option"><i class="fa-solid fa-eye"></i></div>
    </div>
    <div class="graphic">
        <div class="index-box">
            <div class="index" [attr.index-value]="i" *ngFor="let i of [1,2,3,4,5,6].reverse()"></div>
        </div>
        <div class="month" *ngFor="let m of this.months">
        <div class="tootlip" *ngIf="m == 'Gener'">
            
        </div>
    </div>
    </div>
</div>