@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    color:#3d3d3d;
}

:root
{
    --color-main:#322F6B;
    --color-main-20:#322F6B20;
    --color-main-80:#322F6B80;
    --color-main-dark:#212529;
    --color-main-light: #00A7BC;
    --color-main-light-2: #00A7BC20;
}
body{overflow: hidden;}
a{text-decoration: none;}


/***************
* BUTTONS
***************/
.primary_btn
{
    position: relative;
    border:none;
    outline:none;
    height: 50px;
    width: 140px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #f9f9f9;
    font-size: 1.1rem;
    background: var(--color-main);
    transition: .2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary_btn:not(.loading):hover { background: var(--color-main-dark);}
.primary_btn.loading
{
    color: var(--color-main);
    user-select: none;
    pointer-events: none;
}
.primary_btn.loading::after
{
    content: '';
    position: absolute;
    height: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid #FFFFFF20;
    border-top: 2px solid #FFFFFF80;
    border-left: 2px solid #FFFFFF80;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0%{transform: rotate(360deg);}
    100%{transform: rotate(0deg);}
}